<div class="box-content center-content">
  <div class="calculator">
    <h1 class="title">Calculadora</h1>
    <hr />
    <app-screen />
    <div class="buttons">
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
      <app-button />
    </div>
  </div>
</div>
