<div class="box-content center-content">
  <div class="calculator">
    <h1 class="title">Calculadora</h1>
    <hr />
    <app-screen
      [handleScreen]="btnPower"
      [inputValue]="screenValue"
    />
    <div class="buttons">
      <app-button
        [btnValue]="btnPower"
        (value)="power($event)"
      />
      <app-button
        [btnValue]="'C'"
        (value)="clearScreen()"
      />
      <app-button
        [btnValue]="'x'"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="'/'"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="7"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="8"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="9"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="'+'"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="4"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="5"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="6"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="'-'"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="'='"
        class="btn-result"
        (value)="calc()"
      />
      <app-button
        [btnValue]="1"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="2"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="3"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="0"
        class="btn-cero"
        (value)="getBtnValue($event)"
      />
      <app-button
        [btnValue]="'.'"
        (value)="getBtnValue($event)"
      />
    </div>
  </div>
</div>
